@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Micro+5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --background-color: white;
    --color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #181A1B;
        --color: rgba(255, 255, 255, 0.781);
    }
}

body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--background-color);
    color: var(--color);
}

h1 {
    text-align: center;
    font-size: 4em;
}

h1, h2, h3, button {
    font-family: "Micro 5", 'Courier New', Courier, monospace, sans-serif;
}

.main {
    display: flex;
    gap: 15px;
    max-height: 80vh;
    max-width: 1400px;
    width: 95%;
    margin: auto;

    & > * {
        flex: 1;
        border: 2px solid currentColor;
        overflow-y: auto;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    & > :nth-child(2) {
        flex: 2;
    }
}

.code-section {
    & h2 {
        text-align: center;
        font-size: 3em;
    }
}

.code-box {
    display: flex;
    flex-direction: column;
    border: 2px solid currentColor;
    border-radius: 5px;
    overflow: hidden;
    
    & h3 {
        background-color: black;
        color: white;
        font-size: 1.5em;
        padding: 5px 10px;
    }
    
    & code {
        padding: 10px;
    }
    
    & pre {
        font-family: 'Courier New', Courier, monospace, sans-serif;

    }
}

.code-div-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & textarea {
        font-family: 'Courier New', Courier, monospace, sans-serif;
        padding: 5px;
        font-size: 1em;
        resize: vertical;
        color: inherit;
        background-color: color-mix(in srgb, var(--background-color) 90%, white);
    }
}

.code-amount {
    text-align: center;
}

.section-events {
    counter-reset: event-week;
    gap: 50px;
    & h2 {
        text-align: center;
        font-size: 3em;
    }
}

.no-events-message {
    display: none;
    &:last-child {
        display: block;
    }
}

.event {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border: 3px solid currentColor;
    border-radius: 15px;
    counter-increment: event-week;
    position: relative;
    border-top-left-radius: 0;
    
    & h3 {
        font-size: 2.3em;
        padding: 5px;
    }
    
    & p {
        text-align: justify;
    }

    &::before {
        content: "Semana - " counter(event-week);
        font-family: "Micro 5", 'Courier New', Courier, monospace;
        font-size: 1.6em;
        position: absolute;
        bottom: 100%;
        left: -2px;
        border: 3px solid currentColor;
        border-bottom: none;
        padding: 6px 10px;
    }
}

.event-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 15px;
    & button {
        font-size: 1.5em;
        cursor: pointer;
    }
}

.result-event-title {
    font-weight: bold;
    font-size: 1.1em;
}

.div-sections {
    & h2 {
        text-align: center;
        font-size: 2.8em;
    }
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid currentColor;
    padding: 8px;
    border-radius: 5px;
}

.section-tabs-menu {
    list-style: none;
    display: flex;
    gap: 5px;

    & button {
        font-size: 1.8em;
        padding: 5px;
        border: none;
        border-bottom: 1px solid currentColor;
        background-color: transparent;
        cursor: pointer;
        color: inherit;

        &.active {
            color: red;
        }
    }
}

.section-store, .section-inventory {
    display: none;
    flex-direction: column;
    gap: 15px;

    & h3 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 5px;
    }

    & .item h3 {
        text-align: left;
    }

    &.active {
        display: flex;
    }
}

.no-items-message {
    display: none;
    &:last-child {
        display: block;
    }
}

.inventory-article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    border: 2px solid currentColor;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    & button {
        cursor: pointer;
        font-size: 1.7em;
    }

    & span {
        font-weight: bold;
    }
}

.status-article div {
    border: 2px solid currentColor;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}